<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.widgetsample00"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
            
        <receiver android:name="HelloAndroidWidgetProvider" 
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" 
                android:resource="@xml/appwidget" />
		</receiver>
        <service android:name="HelloAndroidWidgetProvider$WidgetService">
        </service>
        <activity android:name=".SampleActivity"
                  android:label="@string/app_name">
        </activity>
    </application>
</manifest>